* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em;
    color: grey;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: end;
    margin-right: 0.5%;
    align-items: center;
}
header ul li {
    margin: 2px 0 0 0;
    padding: 10px;    
}

li.apps {
    padding-right: 0 2px;
}

button.login {
    border-radius: 3px;
    border-style: none;
    padding: 9px 20px;
    background-color: #1A73E8;  
    font-size: 13px; 
}
button.login a {
    color: white;
    text-decoration: none;
}

.container {
    flex: 1;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.container-area {
    position:relative;
    height:auto;
    padding: 0 0 -1%;
}
.gif {
    text-align: center;
    padding: 1%;
}
.search {
    position: relative;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;  
    border: solid lightgrey 0.2px;
    border-radius: 50px;
}

.magnifier,
.keyboard,
.microphone {
    padding: 2%;
}
.magnifier {
    padding-left: 3%;
}
.microphone {
    padding-right: 3%;
}

.buttons {  
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2% 0 0 0;
}

button.search {
    border-radius: 4px;
    border-style: none;    
    padding: 9px 20px;
    background-color: #F8F9FA; 
    background-size:contain;
    width: fit-content;
    font-size: 13px;  
    margin: 0 10px;
}

input {
    border: none;
    width: 80%;
    padding: 5px 0;
}

.lang {
    text-align: center;
    padding: 20px 0;
}

.lang a {
    color: #0c5ec9;
}
footer {
    background-color: #f0f1f1;
    margin-top: 14%;
}
.country {
    text-align: left;    
    padding: 12px 30px;
    font-size: 1em;
    border-bottom: solid lightgrey 0.5px;
}

.footer {
    display: flex;
    justify-content: space-between;
}
footer ul.left{
    display: flex;
    list-style: none;
    justify-content: start;
    padding-left: 20px;
    align-items:center;  
    font-size: 1em;   
}

footer ul.right{
    display: flex;
    list-style: none;
    justify-content: end;
    padding: 0 25px 5px 0;
    align-items: center;
    font-size: 1em;  
}
footer li {
    padding: 5%; 
    white-space: nowrap;
}

a {
    text-decoration: none;
}

@media screen and (min-width: 421px) and (max-width: 450px) {
    footer {
        margin-top: 82%;
        font-size: 0.9em;
    }
}
@media screen and (min-width: 382px) and (max-width: 420px) {
    footer {
        margin-top: 86%;
        font-size: 0.8em;
    }
}
@media screen and (max-width: 382px) {
    footer {
        margin-top: 100%;
        font-size: 0.7em;
    }
}
/*
    .footer {
        display: flex;
        flex-direction: column;
    }
    footer ul.left {
        display: block;
        align-items: center;
        text-align: center;
    }
    footer li {
        padding: 1%; 
    }
    footer ul.right {
        display: inline-block;
        flex-direction: column;    
        align-items: center;
        text-align: center;   
        padding: 0;
    }    
}
*/